.layout-grid-left, .layout-grid-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

@media screen and (max-width: 640px) {
  .layout-grid-left, .layout-grid-right {
    gap: 1rem;
  }
}

.flex-col-card {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-container * {
  margin: 0;
}

.prose {
  line-height: 1.6;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #353535;
  color: #ffffff;
  text-decoration: none;
  transition: background-color .15s ease, border .15s ease;
}

.post-container:hover, .post-container:focus-visible {
  background-color: rgba(140, 92, 245, .125);
  border: 1px solid var(--primary);
}

.post-container:focus-visible {
  outline: none;
}

.post-date, .work-experience-duration {
  color: #c7c7c7;
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-experience-entry:not(:last-of-type) {
  border-bottom: 1px solid #353535;
  padding-bottom: 1rem;
}

.work-experience-duration {
  font-size: .925rem;
}

.work-experience-company {
  margin-top: .25rem;
  margin-bottom: .5rem;
}

.work-experience-role {
  margin-bottom: .75rem;
}

.socials-link {
  color: white;
  display: flex;
  flex-direction: row;
  gap: .75rem;
  align-items: center;
}

.work-mdx {
  all: unset;
  display: block;
}

.work-mdx {
  font-family: var('Geist');
  /*color:         var(--card-text-color, #ddd);*/
  line-height:   1.5;
}

/*separators*/
.work-mdx hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,0.2);
  margin: 1rem 0;
}

/*company*/
.work-mdx h1 {
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: .1rem;
}

/*role*/
.work-mdx h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: .75rem;
}

/*duration*/
.work-mdx h3 {
  font-weight: normal;
  font-size: .925rem;
  color: #c7c7c7;

  margin-top: 0;
  margin-bottom: 0;
}

.work-mdx p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
